.custom-border-color div {
  @apply border-neutral-800;
  @apply border-r;
}

.row-summary {
  color: coral;
}

.row-match:hover {
  background-color: #24272a;
}

.unbet {
  background-color: #FFFFE8;
  color: #000;
  cursor: pointer;
}

.unbet:hover {
  background-color: #24272a;
  color: #FFFFE8;
}

.unbet-select {
  background-color: #24272a;
  color: #FFFFE8;
}

.fixed-bottom {
  position: fixed;
  //width: inherit;
  bottom: 35px;
  height: 60px;
  background-color: #6253E1;
  .bottom-div{
    height: inherit;
    line-height: 60px;
  }
}

